{% load static %}

<div class="ag-courses_item">
    {% if element.componentid == 9999 %}
    <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
            Ничего не найдено
        </div>

        <div class="ag-courses-item_date-box">
            {% if element.componentprice > 0 %}
                Цена:
                <span class="ag-courses-item_date">
            {{ element.price }}р
          </span>
            {% endif %}
        </div>
    </a>
    {% else %}
    <a href="{% url 'order_url' element.componentid %}" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
            {{ element.componentname }}
        </div>

        <div class="ag-courses-item_date-box">
            {% if element.componentprice > 0 %}
                Цена:
                <span class="ag-courses-item_date">
            {{ element.componentprice }}р
          </span>
                <form action="deletion" method="post"  enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <button type="submit" name="id" value="{{ element.componentid }}" class="glow-on-hover">Удалить</button>
                </form>
            {% endif %}
        </div>
    </a>
    {% endif %}
</div>