{% load static %}

<div class="ag-courses_item">
    {% if element.id == 9999 %}
    <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
            {{ element.title }}
        </div>

        <div class="ag-courses-item_date-box">
            {% if element.price > 0 %}
                Цена:
                <span class="ag-courses-item_date">
            {{ element.price }}р
          </span>
            {% endif %}
        </div>
    </a>
    {% else %}
    <a href="{% url 'order_url' element.id %}" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
            {{ element.title }}
        </div>

        <div class="ag-courses-item_date-box">
            {% if element.price > 0 %}
                Цена:
                <span class="ag-courses-item_date">
            {{ element.price }}р
          </span>
            {% endif %}
        </div>
    </a>
    {% endif %}
</div>