{% extends 'base.html' %}
{% load static %}

{% block title %}{{ component.componentname }}{% endblock %}

{% block content %}
    <div class="center">
            <img src="{% static component.componentimage %}" alt="" width="500" height="500">
            <h2 style="color: white">
                {{ component.componentname }}
            </h2>
            <h4 style="color: white">
                Цена - {{ component.componentprice }}р
            </h4>
            <h6 style="color: white">
                {{ component.componentdescription }}
            </h6>
    </div>


{% endblock %}